extends layout

block content
  body#page-top(data-target='.navbar-fixed-top')
    // Navigation
    nav#menu.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
          a.navbar-brand.page-scroll(href='/admin/index', , data-toggle='tooltip', title='Home') 
            img(src='../images/vodovod_logo.png' height='27px' style='margin-top: -2px;')
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if sifra == 999100001
              li
                a(href='/admin/backup') Backup
              li
                a(href='/admin/poruke') Poruke
            li
              a(href='/admin/index') Komitenti
            li
              a.active(href='/admin/nalsta') Nalog Stavke
            li
              a(href='/admin/nsnalsta') Neproknjižene Stavke
            li
              .dropdown
                img.avatarIcon(src='../images/icons/avatar_1.jpg')
                .dropdown-content
                  a(href='#' style="pointer-events: none;") #{naziv}
                  a(href='/odjava') Odjava
  .container
    .section-title(style='margin-top: 7em;')
      form#searchForm(method='post', action='/admin/nalsta/search')
          input.textbox(type='text', name='konto', placeholder='Konto', maxlength="13")
          input.button(title='Search', value='', type='submit')
      h2 Nalog Stavke 
    table.table.table-hover(style='width: 100%;')
      != messages('message', locals)
      thead.tableheader
        tr
          th Vrsta
          th Nalog
          th Račun
          th Datum
          th Knjižen
          th Duguje
          th Potražuje
          th Saldo
          th Vodomer
          th Cena
          th Trobračuna
          th PDVOpšta
          th PDVPosebna
          th Opis
          th 
        tbody
            for val in nalstas
                tr
                  td #{val.vrsta}
                  td #{val.nalog}
                  td #{val.racun}
                  td #{val.datum}
                  td #{val.knjizen}
                  td(align="right") #{val.duguje}
                  td(align="right") #{val.potrazuje}
                  td(align="right") #{val.saldo}
                  - var sada = val.sada
                  - var prethodno = val.prethodno
                  - var subvencija = val.subvencija 
                  - var vodomer = sada - prethodno - subvencija
                  td #{sada} - #{prethodno} - #{subvencija} = #{vodomer}
                  td(align="right") #{val.cena}
                  td(align="right") #{val.trobracuna}
                  td(align="right") #{val.pdvopsta}
                  td(align="right") #{val.pdvposebna}
                  td #{val.opis}
                  if val.vrsta == 'D'
                    td(align='center')
                      a(href='/admin/nalsta/print/'+'#{val.id}', data-toggle='tooltip', title='Štampanje' target='_blank')
                        img(src='../images/icons/print.jpg' height='15px')
  .row
    div
      a(href='/admin/nalsta/list')
        button.btn.btn-primary.btn-lg.btn-block(type='button' style='width: 100%;') 
          font(size='3') Prikaži sve